@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CSS INDEX*/

header button img{
	width: 50px;
	height: 50px;
}

.menu-boton{
	border: none !important;
}

.btn-close{
	--bs-btn-close-focus-shadow: none !important;
}

.menu-color{
	background-color: black;
}

.nav-color{
	color: #C9D1DD;
	font-family: 'Noto Sans JP';
	font-weight: 500;
}

.h1-index{
	font-family: 'Noto Sans JP';
	font-weight: 900;
	font-size: 250px;
	color: black;
}

.body-index{
	background-image: url(../img/duki-index.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}
footer{
	position: absolute;
	z-index: 1;
}
footer ul li img{
	width: 30px;
	height: 30px;
	margin: 5px;
}

li{
	list-style-type: none;
}
li a{
	text-decoration: none;
	color: #C9D1DD;
	font-family: 'Noto Sans JP';
	font-weight: 500;
}

/* FIN CSS INDEX */

/* CSS BIO */

.body-bio{
	background-color: #646672;
}

.section-text-bio{
	width: 700px;
	height: 875px;
}

.h1-bio{
	display: block;
	font-family: 'Noto Sans JP';
	font-weight: 600;
	font-size: 50px;
	text-align: center;
	margin: 30px;
}

.text-bio{
	width: 650px;
	height: 700px;
	overflow: auto;
}

.text-bio p {
	font-family: 'Noto Sans JP';
	font-weight: 200;
	padding: 5px;
	text-align: justify;
}
.section-img-bio img{
	width: 650px;
	height: 700px;
}

/* CCS GALERIA */

.main-galeria section h1, .main-galeria section h2{
	font-family: 'Noto Sans JP';
	font-weight: 600;
	font-size: 50px;
	margin: 30px;
}

.fotos img{
	display: inline;
	width: 400px;
	height: 300px;
}

/* CSS TOUR*/

.body-tour{
	background-image: url(../img/WhatsApp\ Image\ 2024-07-27\ at\ 21.27.11.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.body-tour main section h1{
	font-family: 'Noto Sans JP';
	font-weight: 600;
	font-size: 75px;
	text-align: center;
	color: #E30413;
	margin: 10px;
}

.btn-primary {
    
    --bs-btn-bg: #E30413 !important;
    --bs-btn-border-color: #E30413 !important;
    
    --bs-btn-hover-bg: #E30413 !important;
    --bs-btn-hover-border-color: #E30413 !important;
    
    
    --bs-btn-active-bg: #E30413 !important;
    --bs-btn-active-border-color: #E30413 !important;
    
    
    --bs-btn-disabled-bg: #E30413 !important;
    --bs-btn-disabled-border-color: #E30413 !important;
}

/* CSS DISCOGRAFICA */

.body-discografica main section div h1{
	font-family: 'Noto Sans JP';
	font-weight: 500;
	font-size: 50px;
}

.body-discografica main section div p{
	font-family: 'Noto Sans JP';
	font-weight: 300;
	font-size: 25px;
}

/* CSS TIENDA */

.tienda{
	font-family: 'Noto Sans JP';
	font-weight: 800;
	font-size: 150px;
	text-align: center;
	background-image: url(../img/ameri.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
}

.tarjeta-producto{
	width: 410px;
	height: 460px;
	border: 2px solid gray;
	margin: 20px;
	text-align: center;
}

.tarjeta-producto img{
	width: 100%;
	height: 350px;
}
.tarjeta-producto h2{
	margin-bottom: 5px;
	font-family: 'Noto Sans JP';
	font-weight: 500;
}
.tarjeta-producto a{
	background-color: #1c1c1c;
	text-decoration: none;
	color: white;
	padding: 2px;
	font-family: 'Note Sans JP';
	font-weight: 200;
}

/* CSS CONTACTO */

.body-contacto main section div h1{
	font-family: 'Noto Sans JP';
	font-weight: 500;
	font-size: 50px;
}

.body-contacto main section div p{
	font-family: 'Noto Sans JP';
	font-size: 25px;
	width: 500px;
}

form{
	width: 500px;
}

.form-group{
	font-family: 'Noto Sans JP';
	font-weight: 500;
	font-size: 20px;
}

